@model SistemaSocial.ViewModel.ClientesView
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="es-cl">
<head>
    <title> Datos de Usuario </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="~/font-awesome/" rel="stylesheet" />
    <link href="~/css/DatosRegistro.css" rel="stylesheet" />
    <link href="~/css/IndexForm.css" rel="stylesheet" />
    <link href="~/css/menu.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="course">
            <div class="course-info">
                <h2> Datos de Usuarios. </h2>
                <form asp-controller="Clientes" asp-action="ListadoUsuarios" method="get">
                    <h7>Buscar Usuario por Run o Pasaporte, Nombre o Apellido: </h7>
                    <div class="input-info">
                        <input type="text" asp-for="Busqueda" class="details-info1" />
                        <input type="submit" value="Buscar" class="details-info2" />
                    </div>
                </form>
                <a asp-controller="Clientes" asp-action="IndexClientes"> Usuarios Requirentes </a>
            </div>
        </div>
      @if (SignInManager.IsSignedIn(User)) {
           var Claims = User.Claims.Where(C => C.Type == "Admin" || C.Type == "Editor").FirstOrDefault(); ;
           if (Claims != null) {
                <div>
                    <partial name="_DatosIndexPartial" />
                </div>
           }
       }

        <div style="overflow-x: auto;">
            <div class="table-container1">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"> Nombre </th>
                            <th scope="col"> Teléfono </th>
                            <th scope="col"> Tipo De Usuario</th>                            
                           @if (SignInManager.IsSignedIn(User)) {
                                var Claims = User.Claims.Where(C => C.Type == "Admin" || C.Type == "Editor").FirstOrDefault();
                                if (Claims != null) {
                                    <th class="text-center" scope="col"> Otros. </th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var C in Model.listaClientes) {
                            <tr>
                                <td data-label="Nombre">
                                    @Html.DisplayFor(modelItem => C.Nombres)
                                    @Html.DisplayFor(modelItem => C.ApellidoPaterno)
                                    @Html.DisplayFor(modelItem => C.ApellidoMaterno)
                                </td>
                               @if (C.Telefono != null) {
                                    <td data-label="Teléfono"> @Html.DisplayFor(modelItem => C.Telefono) </td>
                                }
                                else {
                                    <td data-label="Teléfono"> No Asignado. </td>
                                }
                                <td data-label="Tipo"> @Html.DisplayFor(modelItem => C.TipoDeCliente) </td>
                               @if (SignInManager.IsSignedIn(User)) {
                                    var Claims = User.Claims.Where(C => C.Type == "Admin" || C.Type == "Editor").FirstOrDefault();
                                    var Permisos = User.Claims.Where(x => x.Type == "Admin" && x.Value == "10").FirstOrDefault();
                                    if (Claims != null) {
                                        @* PERMISOS *@
                                        <td data-label="Permisos">
                                            <div class="Drop">
                                                <div class="dropdown">
                                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Permisos.
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item"
                                                           asp-controller="Clientes"
                                                           asp-action="IndexGrupoFamiliar"
                                                           asp-route-GrupoFamiliar="@C.GrupoFamiliar">
                                                            Grupo Familiar.
                                                        </a>
                                                        <a class="dropdown-item"
                                                           asp-controller="Clientes"
                                                           asp-action="EditarClientes"
                                                           asp-route-ClientesID="@C.ClientesID">
                                                            Modificar.
                                                        </a>
                                                       @if (Permisos != null) {
                                                            <a class="dropdown-item"
                                                               asp-controller="Clientes"
                                                               asp-action="EliminarClientes"
                                                               asp-route-ClientesID="@C.ClientesID">
                                                                Eliminar Usuario.
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-circle mt-2">
                @{
                    if (Model.Paginas != 1) {
                        <li class="page-item">
                            <a class="page-link" asp-action="IndexClientes" asp-route-Pagina="@TempData["PaginaAnterior"]">Anterior</a>
                        </li>
                    }
                    else {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="IndexClientes" asp-route-Pagina="@TempData["PaginaAnterior"]">Anterior</a>
                        </li>
                    }

                    for (int i = 1; i <= Model.CantidadPaginas; i++) {
                        if (i == Model.Paginas) {
                            <li class="page-item" aria-current="page">
                                <a class="page-link" asp-action="IndexClientes" asp-route-Pagina="@i">@i</a>
                            </li>
                        }
                    }

                    if (Model.Paginas != Model.CantidadPaginas) {
                        <li class="page-item">
                            <a class="page-link" asp-action="IndexClientes" asp-route-Pagina="@TempData["PaginaSiguiente"]">Siguiente</a>
                        </li>
                    }
                    else {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="IndexClientes" asp-route-Pagina="@TempData["PaginaSiguiente"]">Siguiente</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</body>
</html>